.reserve-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #553D67;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 600px;
}

p {
    background-color: inherit;
}
.reserve-item:hover {
    background-color: #99738E;
}