* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #242582;
    color: white;
}

.page {
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

fieldset {
    background-color: #553D67;
    width: 80%;
    border: none;
    border-radius: 5px;
}

input {
    background-color: white;
    color: black;
    border: none;
    margin-bottom: 10px;
}

label {
    background-color: inherit;
}

select {
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

textarea {
    background-color: white;
    color: black;
}

.form-flex, .form-flex-section {
    background-color: inherit;
}

.form-flex {
    display: flex;
}

.form-flex-section {
    display: flex;
    flex-direction: column;
}

.additional-notes-style {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: inherit;
}

p {
    text-align: center;
}

h1, h4 {
    text-align: center;
}

.header-and-search {
    display: flex;
    align-items: center;
    width: 50%
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 10px;
}

button {
    background-color: #553D67;
    border: none;
    height: 30px;
    border-radius: 5px;
}


button:hover{
    background-color: #99738E;
}

@media screen and (min-width: 700px) {
    .page {
        display: block;
    }
    .no-mobile {
        display: none;
    }
  }