.sustainment-item {
    display: flex;
    flex-direction: row;
    background-color: #553D67;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 80%;
    margin-bottom: 5px;
}

p {
    background-color: inherit;
}
.sustainment-item:hover {
    background-color: #99738E;
}